{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <p class=header>Bought</p>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total</th>
        </tr>
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ shares }}</td>
            <td>{{ price }}</td>
            <td>{{ shares * price }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td>Cash</td>
            <td>{{ cash }}</td>
        </tr>
    </table>
{% endblock %}
