{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <h1>Bought!</h1>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>Total price</th>
        </tr>
        <tr>
            <td>{{ symbol }}</td>
            <td>{{ shares }}</td>
            <td>{{ price }}</td>
            <td>{{ total }}</td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <th>Remaining Cash</th>
            <td>{{ cash }}</td>
        </tr>
    </table>
{% endblock %}
