{% extends "layout.html" %}

{% block title %}
    Quote
{% endblock %}

{% block main %}
    <form action="/buy" method="post">
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="symbol" placeholder="Stock's symbol" required type="text">
        <br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" required type="text">
        <br>
        <button class="btn btn-primary" type="submit">Buy</button>
    </form>
{% endblock %}
