{% extends "layout.html" %}

{% block title %}
    History
{% endblock %}

{% block main %}
    <h1>Welcome {{ username }}! Here are your transaction history!</h1>
    <table>
        <thead>
            <th>Symbol</th>
            <th>Price</th>
            <th>Shares</th>
            <th>Time</th>
        </thead>
        <tbody>
            {% if stocks %}
                {% for stock in stocks %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.shares }}</td>
                        <td>{{ stock.time }}</td>
                    </tr>
                {% endfor %}
            {% endif %}
        </tbody>
    </table>
{% endblock %}
