{% extends "layout.html" %}

{% block title %}
    Portfolio
{% endblock %}

{% block main %}

    {% if message %}
    <h1>{{ message }}</h1>
    {% endif %}

    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                {% if stock.total_shares > 0 %}
                    <tr>
                        <td>{{ stock.symbol }}</td>
                        <td>{{ stock.total_shares }}</td>
                        <td>{{ stock.price }}</td>
                        <td>{{ stock.value }}</td>
                    </tr>
                {% endif %}
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <th>Cash</th>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>TOTAL</th>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
