{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <h1>Welcome {{ username }}! Here are your stocks!</h1>
    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Current price</th>
            <th>Value</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.usd_price }}</td>
                    <td>{{ stock.usd_value }}</td>
                </tr>
            {% endfor %}
            <tr>
                <td></td>
                <td></td>
                <th>Remaining Cash</th>
                <td>{{ cash }}</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <th>Total</th>
                <td>{{ total }}</td>
            </tr>
        </tbody>
    </table>
{% endblock %}
