{% extends "layout.html" %}

{% block title %}
    Stocks
{% endblock %}

{% block main %}
    <h1>Welcome {{ username }}! Here are your stocks!</h1>
    <table>
        <thead>
            <th>Symbol</th>
            <th>Shares</th>
            <th>Current price</th>
        </thead>
        <tbody>
            {% for stock in stocks %}
                <tr>
                    <td>{{ stock.symbol }}</td>
                    <td>{{ stock.total_shares }}</td>
                    <td>{{ stock.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}
