{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}
    <form method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="submit" formaction="/login">Log In</button>
        <button class="btn btn-primary" type="submit" formaction="/register">Register</button>
    </form>
    <!-- Here is a JS version:

    <form id="loginForm" method="post">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" name="password" placeholder="Password" type="password">
        </div>
        <button class="btn btn-primary" type="button" onclick="submitForm('/login')">Log In</button>
        <button class="btn btn-primary" type="button" onclick="submitForm('/register')">Register</button>
    </form>

    <script>
        function submitForm(action) {
            document.getElementById("loginForm").action = action;
            document.getElementById("loginForm").submit();
        }
    </script>
    
    -->
{% endblock %}
