{% extends "layout.html" %}

{% block title %}
    Quoted
{% endblock %}

{% block main %}
<table>
    <thead>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
        </tr>
    </thead>
    <tbody>
        <!-- TODO: Loop through the database entries to display them in this table -->
        {% for birthday in birthdays %}
                <tr>
                    <td>{{ birthday.name }}</td>
                    <td>{{ birthday.month }}/{{ birthday.day }}</td>
    </tr>
    </table>
{% endblock %}
