{% extends "layout.html" %}

{% block title %}
    Sell
{% endblock %}

{% block main %}
    <form action="/sell" method="post">
        <select class="form-select mx-auto w-auto" name="symbol" requied>
            <option disabled selected>Symbol</option>
            {% for stock in stocks %}
            <option>{{ stock.symbol }}</option>
            {% endfor %}
        </select>
        <br>
        <input autocomplete="off" autofocus class="form-control mx-auto w-auto" name="shares" placeholder="Number of shares" required type="number">
        <br>
        <button class="btn btn-primary" type="submit">Sell</button>
    </form>
{% endblock %}
