.input-group-text {
    background-color: transparent;
    border: none;
}

.input-group-text .bi-search {
    color: #6c757d; /* Adjust icon color */
}

.search_input_text {
    padding-left: 30px; /* Adjust this value to make space for the icon */
}
